body {
  font-family: Arial, sans-serif;
  padding-top: 18vw; 
}
@font-face {
    font-family: 'Amiri';
    src: url('Amiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('Amiri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PlaywriteGBS';
    src: url('PlaywriteGBS-VariableFont_wght.ttf') format('truetype');
    font-weight: VariableFont;
    font-style: normal;
}
@font-face {
    font-family: 'PlaywriteGBS';
    src: url('PlaywriteGBS-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: VariableFont;
    font-style: Italic;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: black;
    padding: 0vw;
    text-align: lift;
z-index: 1002;

  font-size: 1.2vw;
font-weight:bold;
font-style:italic;
}
.navbar {
  display: flex;
  justify-content: none;
  list-style-type: none;
  padding: 0vw;
  margin: 0vw;
  background-color:lightblue;


       
}

/* تنسيق الروابط */
.navbar li a {
  display: flex;
  color:black;
  text-align: center;
  padding: .5vw 1.1vw;
  text-decoration: none;
}

/* وضع الروابط العربية على اليمين */
.navbar li:nth-last-child(-n+4) {
  float: right;
}

/* تغيير لون الخلفية عند التمرير */
.navbar li a:hover {
  background-color: #5644;
  color: black;
}
.text-start {
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 1vh; /* لضبط الحاوية لتملأ الشاشة */
padding: 1vw;
box-sizing: border-box;
  top: 25%;
 right: 50%;
  transform: translate(-1% , -55%);


}
.text-start p {
  font-size: 1.5vw;
 font-family: 'PlaywriteGBS';

color: #fff;

}

.animated-text {
  transform: translateX(100%); /* النص يبدأ من خارج الشاشة */
  opacity: 0; /* لجعل النص غير مرئي في البداية */
  background-color: rgba(1, 110, 100, 1.4);

  padding: 2vw 1.5vw;
  border-radius: 1vw;
  transition: transform 3s ease-out, opacity 3s ease-out; 
display: inline-block;
max-width: 28%;
}

/* ستتم إضافة هذه الفئة عند الوصول إلى النص */
.animated-text.visible {
  transform: translateX(0); /* النص يتحرك إلى مكانه */
  opacity: 1;
}
.text-start1 {
  overflow: show;
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 1vh; /* لضبط الحاوية لتملأ الشاشة */
padding:0vw;
box-sizing: border-box;
  top: 25%;
 right: 50%;
  transform: translate(0% , -130%);


}
.text-start1 p {
  font-size: 1.5vw;
 font-family: 'amiri';

color: black;

}

.animated1-text {
  transform: translateX(-100%); /* النص يبدأ من خارج الشاشة */
  opacity: 0; /* لجعل النص غير مرئي في البداية */
  background-color: rgba(100, 180, 220, 0.7);
  padding: 2vw 1.5vw;
  border-radius: 1vw;
  transition: transform 3s ease-out, opacity 3s ease-out; 
display: inline-block;
max-width: 40%;
}

/* ستتم إضافة هذه الفئة عند الوصول إلى النص */
.animated1-text.visible {
  transform: translateX(0); /* النص يتحرك إلى مكانه */
  opacity: 1;
}


.text-overlay1 h1 {
  font-size: 2.5vw;
color: green;
font-weight:bold;
}
.text-overlay1 {
position: relative;
  top: 25%;
  lift: 50%;
  transform: translate( -1% ,-2050%);
 
z-index: 1001;
 
}

 .city {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
position: relative;
  top: 25%;
 
  transform: translate( 0% ,100%);
 padding: 1.5vw;


        }

        .image-city{
            position: relative;
            width: 100%; /* عرض الصورة بعرض الشاشة */
            margin-bottom: 0vw;
        }

        .image-city img {
            width: 90%;
            height: auto; /* يجعل الصورة تتكيف مع العرض */
        }

        .image-city .caption {
            position: absolute;
            top: 1vw;
            left: 5vw;
            color: white;
            background-color: rgba(0,0, 0, 0.4);
            padding: 1vw;
            font-size: 2vw;
            border-radius: .2vw;
        }
.button-city {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: .8vw 1vw;
            text-align: center;
            font-size: 1.5vw;
            margin-top:0vw;
            cursor: pointer;
            text-decoration: none;
            border-radius: 1vw;
 

}
.button-city:hover {
            background-color:#321554;
}
.call-city {
            background-color:#28a745;
            color: white;
            border: none;
            padding: .8vw 1.5vw;
            font-size:1.4vw;
            transition: background-color .3s ease; 
            justify-content: right;
         
         
            border-radius: 1vw;
}
.call-city:hover {
            background-color:#f5b301;
        }

 .location1 {
      background-color: green;
      color: white;
      padding: 1vw 1vw;
      font-size: 2.2vw;
      border: none;
      border-radius: 2vw;
      cursor: pointer;
      text-align: left;
 z-index: 1002;

	 top: 25%;
 
  transform: translate( 320% ,-1560%);
   
    }
 .location1:hover {
      background-color: blue;
}



}
.section {
    height: auto; /* تحديد ارتفاع الأقسام */
    padding: 0.1vw;
}
.section1 {
    height: auto; /* تحديد ارتفاع الأقسام */
    padding: 0.1vw;
}

#section1 {
 background-color:;
}

.image-container {
  position: relative;
  text-align: lift;
  color: white;
}

/* تنسيق الصورة */
.background-image {
  width: 98.5vw;
  height: 55vw;
top: 3vw;


  opacity: 0.9; /* للتحكم في شفافية الصورة */

 position:absolute;
}



}
 .button1 {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 1.5vw 1vw;
            text-align: center;
            font-size: 2.2vw;
            margin-top:0vw;
            cursor: pointer;
            text-decoration: none;
            border-radius: 1vw;




}
 .button1:hover {
            background-color:#321554;
}
 .button2 {
            background-color:gold;
            border: none;
            color: black;
            padding: 1vw 3vw;
            text-align: center;
            font-size: 2.5vw;
            margin-top:0vw;
            cursor: pointer;
            text-decoration: none;
            border-radius: 1vw;

}
.button2:hover {
            background-color:red;
}

 .call-button {
            background-color:red;
            color: white;
            border: none;
            padding: 1vw 2vw;
            font-size: 2.5vw;
            transition: background-color .3s ease; 
            justify-content: right;
            align-items: right;
            height: 4vw;
            margin: 0;
            border-radius: 5vw;

 
position: flex;

     top: 100%;

  left: 50%;

  transform: translate(130%, -1100%);
  
}

        /* تغيير لون الزر عند التمرير */
        .call-button:hover {
            background-color:lightblue;
        }
#section2 {
    background-color: ;
}

#section3 {
}
       .rating {
            display: relative;
            direction: rtl;


 }

        .rating input {
            display: none; /* إخفاء مربعات الاختيار */
        }

        .rating label {
            font-size: 5vw;
            color: #ddd;
            cursor: pointer;
            transition: color 0.3s ease;
}
.rating {
 align-items: lift;
 transform: translatex(-39%);
 
}

        .rating input:checked ~ label, /* عند تحديد النجم */
        .rating input:hover ~ label, /* عند التمرير فوق النجوم */
        .rating label:hover ~ label {
            color: #f5b301;

}

#section4 
 

 .gallery-homecare {
            display: flex;
            flex-wrap: wrap;
            gap:1.8vw; /* المسافة بين الصور */
            justify-content: center;

        }

        .gallery-homecare .image-homecare {
            position: relative;
            max-width: 25%;
        }

        .gallery-homecare img {
         max-width: 100%;
         height: auto;.
            object-fit: cover;
            border-radius: 1vw;
            transition: transform 0.3s ease;
        }

        /* تكبير الصورة عند التمرير */
        .gallery-homecare img:hover {
            transform: scale(1.1);
        }
  .gallery-homecare .caption {
            position: relative;
            bottom: 0;
            left: 0;
      background-color: rgb(0, 0, 255, 0.5); /* خلفية نصف شفافة */
            color: white;
            text-align: center;
max-width: 100%;

            padding: 0.2vw;
            font-size: 1.8vw;
            border-bottom-left-radius: .5vw;
            border-bottom-right-radius: .5vw;
        
        }

 
 

 .care {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
position:relative;
  top: 25%;
 
  transform: translate( 0% ,10%);


        }

        .image-care{
            position: relative;
            width:100%; /* عرض الصورة بعرض الشاشة */
            margin-bottom: 10vw;
        }
   .image-care img {
            width: 90%;
            height: auto; /* يجعل الصورة تتكيف مع العرض */
        }
 .care img:hover {
            transform: scale(1.1);
}
    

       
.button-care {
            background-color: #0CAF88;
            border: none;
            color: white;
            padding: .3vw 3vw;
            text-align: center;
            font-size: 2.5vw;
            margin-top:0 auto;
            cursor: pointer;
            text-decoration: none;
            border-radius: 1vw;



}
.button-care:hover {
            background-color:#388947;
}




 .gallery {
            display: flex;
            flex-wrap: wrap;
            gap:.8vw; /* المسافة بين الصور */
            justify-content: center;

        }

        .gallery .image-container {
            position: relative;
            max-width: 20%;
        }

        .gallery img {
         max-width: 100%;
         height: auto;.
            object-fit: cover;
            border-radius: 1vw;
            transition: transform 0.3s ease;
        }

        /* تكبير الصورة عند التمرير */
        .gallery img:hover {
            transform: scale(1.1);
        }

        /* إضافة الشرح على الصورة */
        .gallery .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6); /* خلفية نصف شفافة */
            color: white;
            text-align: center;
max-width: 100%;

            padding: 1vw;
            font-size: 1.5vw;
            border-bottom-left-radius: .5vw;
            border-bottom-right-radius: .5vw;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        /* إظهار الشرح عند التمرير على الصورة */
        .image-container:hover .caption {
            opacity: 1;
        }


#section5 {
    .................
}

.pharma-image{
 
position:relative;
    
width:95vw;
    
height:auto;

padding: 1vw;
transform: translatex(2%);
opacity: .8;
     border-radius: 10vw;
}

.button-phrm {
            background-color: #0CAF88;
            border: none;
            color: white;
            padding: .3vw 3vw;
            text-align: center;
            font-size: 2vw;
       position:relative;
 
left: 25%;

            cursor: pointer;
            text-decoration: none;
            border-radius: 1vw;



}
.button-phrm:hover {
            background-color:#388947;
}


        	box-sizing: border-box;}
        body {font-family: Arial, sans-serif; margin: 0;}



        .slideshow-container {
            position: relative;
            max-width: 100%;
            margin: auto;
            overflow: 0;
top: 20%;
 
  transform: translate(0%, 2%);
 
        }

        .slides {
            display: none;
            position: relative;
        }

        img {
  max-width:100%;
 height:61vw ;

}

        /* التنسيق للعناوين والوصف */
        .text {
            position: absolute;
            bottom: 5vw;

            right: 40%;

	    transform: translatex(-10% );
            color: black;
            text-align: right;
        }

        .text h1 {
            font-size: 1.8vw;
            margin: 0;
            padding: 0;
        }

        .text p {
            font-size: 1.5vw;
            margin: 0vw 0;
        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: .3vw 1vw;
            text-align: center;
            font-size: 3vw;
            margin-top: 2vw;
            cursor: pointer;
            text-decoration: none;
            border-radius: 3vw;
        }

        .button:hover {
            background-color: #45a049;
        }

        .prev, .next {
            cursor: pointer;
            position: absolute;
           
            width: auto;
            padding: 2vh;
            margin-top: -50vh;
            color: white;
            font-weight: bold;
            font-size: 1.5vw;
            transition: 2s ease;
            border-radius: 0 1vh 1vh 0;
            user-select: none;
z-index: 1003;

        }

        .next {
            right: 0;
            border-radius: 1vh 0 0 1vh;
        }

        .prev:hover, .next:hover {
            background-color:green;
        }

        .dots {
            text-align: center;
            margin-top: 1vw;
        }

        .dots span {
            cursor: pointer;
            height: 1vw;
            width:1vw;
            margin: 0 0.5vw;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active, .dots span:hover {
            background-color: #717171;
        }

      .whatsapp-button {
      background-color: #25D366;
      color: white;
      padding: .8vw 1vw;
      font-size: 2.2vw;
      border: none;
      border-radius: 2vw;
      cursor: pointer;
      text-align: left;
margin-top: 2vw;

	    transform: translatex(-40%);
      display: inline-block;
    }

    .whatsapp-button:hover {
      background-color: red;
    }
   .location {
      background-color: red;
      color: white;
      padding: .8vw 1vw;
      font-size: 2.2vw;
      border: none;
      border-radius: 2vw;
      cursor: pointer;
      text-align: left;

	    transform: translatex(+480%);
      display: inline-block;
    }
 .location:hover {
      background-color: blue;
}

   
  
    h3 {
        font-family: Amiri, sans-serif;
  font-size: 1.5vw;
            margin:1vw;
    text-align: center;
color:black;
}
h5 {
            font-size: 3.1vw;
            margin: 1;
            padding: 0;
 	    text-align: center;
    font-family: Arial, sans-serif;
color:black;


            
 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: .1vw 0;
    margin-top: 2vw;

padding: 0.1vw 40vw;
}
.logo {
            position: fixed;
            top: 0; 
            transform: translate(0% , 1%);
            width: 15vw;
            height: auto; 
            z-index: 1000;
        }

.arabic-text {
  direction: rtl;
  text-align: right;
  font-family: 'Amiri', sans-serif;
}

.english-text {
  direction: ltr;
  text-align: left;
 
}
 

   

.background-video {

    position: fixed;

    top: 0;

    left: 0;

    width: 100vw;

    height: 100vh;

    object-fit: cover;

     z-index: -1;

}



.carousel {
  
position: relative;
  
width: 70vw;
  
height: 70vw;
    
margin: 10vw;

padding: 1vw;



}
h6 {
            font-size: 2.1vw;
            margin: 1vw;
 	   text-align: center;
color:red;
    font-family: Amiri	,serif;
      
        border-radius: 2vw; 


}



.center-image img {
  
position: absolute;
  
width: 25vw;
  
height: 25vw;
  
top: 50%;
  
left: 70%;
  
transform: translate(-100%, -50%);
  
border-radius: 50%;
  
border: 1vw solid #fff;
  
box-shadow: 0 0 10vw rgba(0, 0, 0, 0.3);

}



.rotating-images {
  
position: absolute;
  
top: 50%;
  
left: 70%;
  
width: 100%;
  
height: 100%;
  
transform: translate(-50%, -50%);
  
animation: rotate 5s infinite linear;

}



.rotating-images img {
  
position: absolute;
  
width: 25vw;
  
height: 25vw;
  
border-radius: 50%;
  
border: .5vw solid #fff;
  
box-shadow: 0 0 10vw rgba(0, 0, 0, 0.2);

}



.rotating-images img:nth-child(1) {
  
top: 10%;
  
left: 50%;
  
transform: translate(-50%, -50%);

}



.rotating-images img:nth-child(2) {
  
top: 50%;
  
left: 90%;
  
transform: translate(-50%, -50%);

}



.rotating-images img:nth-child(3) {
  
top: 90%;
  
left: 50%;
  
transform: translate(-50%, -50%);

}



.rotating-images img:nth-child(4) {
  
top: 50%;
  
left: 10%;
  
transform: translate(-50%, -50%);
}



@keyframes rotate {
  
0% {
    
transform: translate(-70%, -50%) rotate(0deg);
  
}
  
100% {
    
transform: translate(-70%, -50%) rotate(360deg);
 
}


}

  .marquee-container {
            width: 100%;
            overflow: hidden; /* إخفاء النص خارج الحاوية */
            white-space: nowrap; /* منع النص من النزول إلى سطر جديد */
       
            padding: 1vw;
        }

        /* تنسيق النص المتحرك */
        .marquee-text {
            display:  inline-block;
   background-color: rgba(0, 5, 255, 0.6);
 border-radius: 5vw;


            animation: marquee 8s linear infinite; /* الحركة لمدة 10 ثواني وتكرار مستمر */
        }

        /* حركة النص من اليمين إلى اليسار */
        @keyframes marquee {
            70% {
                transform: translateX(80%); /* البداية خارج الشاشة من اليمين */
            }
            10% {
                transform: translateX(20%); /* النهاية خارج الشاشة من اليسار */
            }
        }
h0 {
            font-size: 3vw;
            margin: 1vw;
 	   text-align: center;
color:gold;
    font-family: Amiri	,serif;
      
        border-radius: 2vw; 
 display:  block;



  background-color: rgba(0, 0,0, 0.8);


}
.image-xray1 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1vw; /* لضمان مساحة كافية حول الصورة */
 top: 25%;
 right: 50%;
  transform: translate(-25% , 0%);
 

}

.animated-xray1 {
  transform: translateX(100%); /* الصورة تبدأ من خارج الشاشة على اليسار */
  opacity: 0; /* الصورة غير مرئية في البداية */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  max-width: 45%; /* حجم الصورة مناسب للشاشة */
 border-radius: 5vw;
}

/* عندما تكون الفئة visible مضافة، تتحرك الصورة للداخل */
.animated-xray1.visible {
  transform: translateX(0); /* الصورة تتحرك إلى مكانها الطبيعي */
  opacity: 1;
}


.text-xray {
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 1vh; /* لضبط الحاوية لتملأ الشاشة */
padding: 1vw;
box-sizing: border-box;
  top: 25%;
 right: 50%;
  transform: translate(0% , -110%);


}
.text-xray p {
  font-size: 3vw;
 font-family: 'PlaywriteGBS';

color: #fff;

}

.animated-xray {
  transform: translateX(-100%); /* النص يبدأ من خارج الشاشة */
  opacity: 0; /* لجعل النص غير مرئي في البداية */
  background-color: rgba(0, 0, 0, 0.8);

  padding: 5vw 1vw;
  border-radius: 1vw;
  transition: transform 1s ease-out, opacity 1s ease-out; 
display: inline-block;
max-width: 48%;
}

/* ستتم إضافة هذه الفئة عند الوصول إلى النص */
.animated-xray.visible {
  transform: translateX(0); /* النص يتحرك إلى مكانه */
  opacity: 1;
}

	
.button-xray {
            background-color: red;
            border: none;
            color: white;
            padding: .3vw 3vw;
            text-align: center;
            font-size: 2vw;
       
            cursor: pointer;
            text-decoration: none;
            border-radius: 1vw;
position:relative;
  top: -100%;
  left: 10%;

}
.button-xray:hover {
            background-color:blue;
}
